@font-face {
    font-family: 'Barlow-Black';
    src: url('../fonts/BarlowSemiCondensed-Black.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../fonts/BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('../fonts/BarlowSemiCondensed-Regular.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

