:root {
    --container-width: 172.8rem;
    --grid-column: 12;
    --grid-column-gap: 1rem;
    --container-padding: 20rem;
    --global-fs: 0.5787037037vw;
}

@media only screen and (min-width: 1728px) {
    :root {
        --global-fs: 10px;
    }
}
@media only screen and (max-width: 991px) {
    :root {
        --global-fs: 1vw;
        --container-padding: 4rem;
        --grid-column: 6;

    }
}
@media only screen and (max-width: 767px) {
    :root {
        --global-fs: 1.3vw;
        --grid-column: 2;
        --grid-column-gap: .5rem;
    }
}
@media only screen and (max-width: 476px) {
    :root {
        --global-fs: 2.667vw;
        --container-padding: 3.6rem;
    }
}