{% set nav = cms.menu('navigation') %}
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__wrap-left">
                <a href="/" class="header__logo">
                    {% include 'components/icons/logo.html' %}
                </a>
                <ul class="header__nav">
                    {% for item in nav.items %}
                    <li class="header__nav-item fw-bold"><a href="{{ item.href }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="header__wrap-right">
                <button class="btn">Schedule a chat</button>
            </div>
        </div>
    </div>
    {{ asset('css/layout/header.css') | stylesheet_tag }}
</header>