
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ settings.site_name }}</title>
    <link rel="icon" href="">
    <meta name="title" content="{{ settings.meta_title }}" />
    <meta name="description" content="{{ settings.meta_description }}">

    {{ asset('css/index.css') | stylesheet_tag }}
    {{ asset('js/libs/_jquery.js') | script_tag }}
  </head>
  <body>
    {% include 'components/layout/header.html' %}
    <main class="mainwrapper">
      {% block body %}{% endblock %}
    </main>
    {% include 'components/layout/footer.html' %}
  </body>
</html>

