@font-face {
    font-family: 'Barlow-Black';
    src: url('../fonts/BarlowSemiCondensed-Black.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../fonts/BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('../fonts/BarlowSemiCondensed-Regular.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: unset;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
    font-family: 'Barlow-Regular';
    font-size: var(--global-fs);
    color: $text-cl;
}
body {
    font-size: var(--fs-20);
    line-height: var(-lh-20);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
}

button, input, textarea {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: 'Barlow-Regular';
}

button {
    cursor: pointer;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}
section {
    overflow: hidden;
}