@import '../core/variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -6.8rem;
        padding: 3.6rem 8.3rem;
        border: 1px solid $tertiary-cl;
        border-end-end-radius: 5rem;
        border-end-start-radius: 5rem;
        background-color: white;
        &-left {
            display: flex;
            align-items: center;
            gap: 5.3rem;
        }
        @include md {
            margin: 0 -4rem;
            padding: 2.8rem 4rem;
            &-left {
                gap: 3.6rem;
            }
        }
    }
    &__logo {
        width: 18.5rem;
        @include md {
            width: 14rem;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 4.1rem;
        &-item {
            text-transform: uppercase;
            line-height: normal;
            @include hover-textGradient(true);
        }
        @include md {
            gap: 3.6rem;
            font-size: 1.8rem;
        }
    }
}