{% extends 'components/layout/master' %}

{% block body %}
<div class="homepage">
  <section class="hero">
    <div class="container grid">
      <div class="hero__text">
        <h1 class="hero__heading">Brighten up your business by working smarter...</h1>
        <div class="hero__sub">
          If your business is bogged down by paper trails, spreadsheets and has a reliance on key people to keep the wheels turning, we can help!
          <br/>
          We are specialists in brightening up outdated ways of working and bringing how you market your business and how you operate behind the scenes closer together.</div>
        <button class="btn">Book a Consultation</button>
      </div>
    </div>
  </section>
</div>
<style>
  .homepage {}
  .homepage .hero {

  }
</style>
{% endblock %}
