:root {
  --grid-column: 12;
  --grid-column-gap: 1rem;
  --container-padding: 20rem;
  --global-fs: 0.5787037037vw;
  --fs-20: 2rem;
  --lh-20: 1.6em;
  --fs-25: 2.5rem;
  --lh-25: 1.28em;
  --fs-40: 4rem;
  --lh-40: 1.24em;
  --fs-48: 4.8rem;
  --lh-48: 1.2em;
}
@media screen and (min-width: 1728px) {
  :root {
    --global-fs: 10px;
  }
}
@media screen and (max-width: 991px) {
  :root {
    --global-fs: 1vw;
    --container-padding: 4rem;
    --grid-column: 6;
    --fs-20: 1.8rem;
    --lh-20: 1.5em;
    --fs-25: 2rem;
    --lh-25: 1.3em;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --global-fs: 1.3vw;
    --grid-column: 2;
    --grid-column-gap: .5rem;
    --fs-25: 1.8rem;
  }
}
@media screen and (max-width: 476px) {
  :root {
    --global-fs: 2.667vw;
    --container-padding: 3.6rem;
    --fs-25: 1.6rem;
    --lh-25: 1.4em;
  }
}

.header {
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: fit-content;
}
@media screen and (max-width: 767px) {
  .header {
    left: 1.4rem;
    right: 1.4rem;
    padding: 2rem;
    opacity: 0;
    height: 100%;
    pointer-events: none;
    transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -webkit-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -moz-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -ms-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -o-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    backdrop-filter: blur(1.5rem);
  }
  .header::before {
    position: absolute;
    content: "";
    top: -20%;
    left: 0;
    height: 100%;
    opacity: 0;
    width: 100%;
    border: 1px solid #FEE6A6;
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
    background-color: white;
    transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -webkit-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -moz-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -ms-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
    -o-transition: 0.8s cubic-bezier(0.66, 0, 0.15, 1);
  }
}
.header .container {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
.header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -6.8rem;
  padding: 3.6rem 8.3rem;
  border: 1px solid #FEE6A6;
  border-end-end-radius: 5rem;
  border-end-start-radius: 5rem;
  background-color: white;
  height: 100%;
}
.header__wrap-left {
  display: flex;
  align-items: center;
  gap: 5.3rem;
}
@media screen and (max-width: 991px) {
  .header__wrap {
    margin: 0 -4rem;
    padding: 2.8rem 4rem;
  }
  .header__wrap-left {
    gap: 3.6rem;
  }
}
@media screen and (max-width: 767px) {
  .header__wrap {
    margin: 0 calc(var(--container-padding) * -1);
    border: none;
    padding: 0;
    align-items: center;
    background-color: transparent;
    border-radius: none;
    transition: 0.4s cubic-bezier(0.66, 0, 0.15, 1);
    -webkit-transition: 0.4s cubic-bezier(0.66, 0, 0.15, 1);
    -moz-transition: 0.4s cubic-bezier(0.66, 0, 0.15, 1);
    -ms-transition: 0.4s cubic-bezier(0.66, 0, 0.15, 1);
    -o-transition: 0.4s cubic-bezier(0.66, 0, 0.15, 1);
    transform: translate(0, -0.6rem);
    -webkit-transform: translate(0, -0.6rem);
    -moz-transform: translate(0, -0.6rem);
    -ms-transform: translate(0, -0.6rem);
    -o-transform: translate(0, -0.6rem);
  }
}
.header__logo {
  width: 18.5rem;
}
@media screen and (max-width: 991px) {
  .header__logo {
    width: 14rem;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 12.5rem;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 4.1rem;
}
.header__nav-item {
  text-transform: uppercase;
  line-height: normal;
  background: #231F20;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  width: fit-content;
}
.header__nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.1em;
  left: 0;
  background: linear-gradient(180deg, #DB5E1E 0%, #FABB14 93.27%);
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
  transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
}
.header__nav-item:hover {
  background: linear-gradient(180deg, #DB5E1E 0%, #FABB14 93.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__nav-item:hover::after {
  transform-origin: left;
  -webkit-transform-origin: left;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media screen and (max-width: 767px) {
  .header__nav-item {
    position: relative;
    width: 100%;
    text-align: right;
    color: black;
    background: linear-gradient(270deg, #FCEAC9 5.3%, rgba(255, 255, 255, 0) 88.94%);
    -webkit-text-fill-color: inherit;
    border-radius: 1rem;
    border-right: 1px solid #FABB14;
    overflow: hidden;
    font-size: 2rem;
    line-height: normal;
  }
  .header__nav-item a {
    padding: 1rem;
    width: 100%;
  }
  .header__nav-item::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0.5px;
    left: -1px;
    bottom: 0.5px;
    right: -1px;
    border-radius: 1rem;
    border: 1px solid transparent;
    background: linear-gradient(270deg, #FABB14 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
.header__nav-item.current {
  background: linear-gradient(180deg, #DB5E1E 0%, #FABB14 93.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__nav.ver-mb {
  display: none;
}
@media screen and (max-width: 991px) {
  .header__nav {
    gap: 3.6rem;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
    gap: 1rem;
    justify-content: end;
  }
  .header__nav.ver-mb {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: auto calc(var(--container-padding) * -1) 0;
  }
}
@media screen and (max-width: 767px) {
  .header__btn {
    display: none;
  }
}
.header__hamburger {
  display: none;
  padding: 1rem;
  margin: -1rem;
}
.header__hamburger-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
.header__hamburger-line {
  width: 100%;
  height: 0.2rem;
  background-color: black;
  position: absolute;
  border-radius: 100vmax;
  transition: 0.35s cubic-bezier(0.66, 0, 0.15, 1);
  -webkit-transition: 0.35s cubic-bezier(0.66, 0, 0.15, 1);
  -moz-transition: 0.35s cubic-bezier(0.66, 0, 0.15, 1);
  -ms-transition: 0.35s cubic-bezier(0.66, 0, 0.15, 1);
  -o-transition: 0.35s cubic-bezier(0.66, 0, 0.15, 1);
  opacity: 1;
}
.header__hamburger-line:first-child {
  transform: translate(0, -0.8rem);
  -webkit-transform: translate(0, -0.8rem);
  -moz-transform: translate(0, -0.8rem);
  -ms-transform: translate(0, -0.8rem);
  -o-transform: translate(0, -0.8rem);
}
.header__hamburger-line:last-child {
  transform: translate(0, 0.8rem);
  -webkit-transform: translate(0, 0.8rem);
  -moz-transform: translate(0, 0.8rem);
  -ms-transform: translate(0, 0.8rem);
  -o-transform: translate(0, 0.8rem);
}
@media screen and (max-width: 767px) {
  .header__hamburger {
    display: block;
  }
}
.header.nav-active .header__hamburger-line:first-child {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.header.nav-active .header__hamburger-line:last-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.header.nav-active .header__hamburger-line:not(:first-child, :last-child) {
  opacity: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.header.active-border {
  height: fit-content;
  opacity: 1;
  pointer-events: auto;
}
.header.active-border .container {
  height: auto;
}
.header.active-border::before {
  top: 0;
  opacity: 1;
}
.header.active-border .header__wrap {
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

/*# sourceMappingURL=header.css.map */
